<!-- Mid Content -->
{% load static %}
<section id="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="mid-part">
                <div class="inner-box">
                    <div class="change-color">
                    </div>

                    <div class="mid-part-front">
                        <div class="textbox-part">
                            <p>Hello Prasashan believes in fostering transparency, accountability, and open communication between the public and the government. Our innovative Public Complaint System provides a platform where individuals can voice their concerns, complaints, and feedback directly to the government while ensuring privacy and anonymity when necessary.</p>
                        </div>
                    </div>

                    <div class="mid-part-back">
                        <div class="content">
                            <img src="{% static 'image/hello.svg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="last-logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="308" height="408" viewBox="0 0 308 408" fill="none">
                    <path
                        d="M0 34.0755H44.3709V249.766C43.4928 255.904 44.0619 262.161 46.0334 268.043C48.0049 273.926 51.3248 279.274 55.7321 283.666C60.1394 288.058 65.5136 291.375 71.4317 293.356C77.3498 295.337 83.6502 295.927 89.837 295.08H106.636L29.5807 408H136.034L212.541 289.279V365.043H318.447V34.0755H363V0H0V34.0755ZM147.355 34.0755H212.541V241.066C212.541 256.835 207.246 261.004 192.273 261.004H166.345C151.554 261.004 148.085 256.835 148.085 242.879L147.355 34.0755Z"
                        fill="#231F20" fill-opacity="0.1" />
                </svg>
            </div>
        </div>
    </div>
</section>