<!-- Mid Dashoboard -->

<section id="mid-dash">
    <div class="row">
        <div class="mid-dash">
            <div class="mid-dash-content">
                <a href="layouts/complain-dash.php">
                    <div class="complain">
                        <div class="complain-logo">
                            <img src="image/complain.png" alt="">
                        </div>
                        <div class="complain-name">
                            <p>Complain</p>
                            <p>(वर्ग थप आवेदन)</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>