<!-- My Users Dashoboard -->
{% load static %}
{% include 'layouts/header.html' %}

<section id="dashboard">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-2">
        {% include 'layouts/left-dash.html' %}
      </div>
  
      <div class="col-md-10 arrange-complain">
        <div class="mid-complain ">

          <div class="mid-complain-heading">
            <div class="dash-header">
              <a href="#" id="back-button">
              <div class="pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                  fill="none">
                  <path
                  d="M13.7369 17.5254C13.6332 17.5256 13.5305 17.5052 13.4347 17.4655C13.3388 17.4259 13.2518 17.3677 13.1786 17.2942L8.44174 12.5574C8.29379 12.4092 8.21069 12.2084 8.21069 11.9991C8.21069 11.7897 8.29379 11.5889 8.44174 11.4408L13.1786 6.70392C13.3266 6.55584 13.5275 6.47266 13.7369 6.47266C13.9463 6.47266 14.1471 6.55584 14.2952 6.70392C14.4433 6.85199 14.5265 7.05282 14.5265 7.26223C14.5265 7.47164 14.4433 7.67248 14.2952 7.82055L10.1167 11.9997L14.2952 16.1776C14.4056 16.288 14.4809 16.4287 14.5113 16.5819C14.5418 16.735 14.5262 16.8938 14.4664 17.0381C14.4066 17.1823 14.3054 17.3056 14.1756 17.3924C14.0457 17.4791 13.8931 17.5254 13.7369 17.5254Z"
                  fill="black" />
                </svg>
              </div>
              </a>
              <div class="heading">
                <p>Users</p>
              </div>
            </div>

            <div class="view-complain">
              <button><a href="{% url 'account:create_admin' %}">Create User</a></button>
            </div>
          </div>

          <div class="mycomplain-content">
            <form method="get" action="{% url 'main:all_user' %}">
            <div class="search-bar">
              <div class="search">
                <div class="search-inner">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22"
                    fill="none">
                    <circle cx="9.76657" cy="10.2666" r="8.98856" stroke="black" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M16.0183 16.9851L19.5423 20.5" stroke="black" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                  <input type="text" placeholder="Search by Name, Email, Phone No." name='search_title'>
                </div>
              </div>

              <div class="complain-dates">
              <select class="form-select form-control" aria-label="Default select example" name='role'>
                <option selected disabled>Select Role</option>
                {% for k , v in roles %}
                <option value="{{ k }}">{{ v }}</option>
                {% endfor %}
              </select>
            </div>

              <div class="searchbar-button">
                <button>Reset</button>
              </div>

              <div class="searchbar-button">
                <button>Search</button>
              </div>
            </div>
          </form>

            <div class="complain-lowerinfo">

              <table>
                <tr>
                  <th class="serial-head"> <p>S.NO.</p> </th>
                  <th class="complain-head"> <p>FULL NAME</p> </th>
                  <th class="complain-head"> <p>EMAIL ADDRESS</p> </th>
                  <th class="date-list-head"> <p>PHONE NUMBER</p> </th>
                  <th class="complain-head"> <p>USER CATEGORY</p> </th>
                  <th class="date-list-head"> <p>RESGISTER DATE</p> </th>
                  <th class="action-head"> <p>ACTION</p> </th>
                </tr>
                {% for user in users %}
                <tr>
                  <td class="serial-list">{{ user.id }}</td>
                  <td class="complain-title-list"><p>{{user.first_name }} {{ user.last_name }}</p></td>
                  <td class="complain-title-list">
                    <p>{{ user.email }}</p>
                  </td>
                  <td class="date-list-body">
                    <p>{{ user.phone_number}}</p>
                  </td>
                  <td class="complain-title-list">
                    <p>{{ user.role_name }}</p>
                  </td>
                  <td class="date-list-body">
                    <p>{{ user.created_date|date:"Y-M-d" }}</p>
                  </td>
                  <td class="action-body">
                    <div class="action-body-view">
                        <button>
                            <a href="{% url 'main:view_user' id=user.id %}">View</a>
                        </button>
                    </div>
                    <div class="action-body-edit">
                        <button>
                            <a href="{% url 'account:edit_user' id=user.id %}">Edit</a>
                        </button>
                    </div>
                 
                  
                    <div class="action-body-delete">
                        <div class="delete-icon">
                          
                            <a type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{user.id}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="21"
                                    viewBox="0 0 19 21" fill="none">
                                    <path
                                        d="M16.3249 7.96826C16.3249 7.96826 15.7819 14.7033 15.4669 17.5403C15.3169 18.8953 14.4799 19.6893 13.1089 19.7143C10.4999 19.7613 7.8879 19.7643 5.2799 19.7093C3.9609 19.6823 3.1379 18.8783 2.9909 17.5473C2.6739 14.6853 2.1339 7.96826 2.1339 7.96826"
                                        stroke="#FD371F" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M17.7082 4.73975H0.750198" stroke="#FD371F"
                                        stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M14.4406 4.73973C13.6556 4.73973 12.9796 4.18473 12.8256 3.41573L12.5826 2.19973C12.4326 1.63873 11.9246 1.25073 11.3456 1.25073H7.11259C6.53359 1.25073 6.02559 1.63873 5.87559 2.19973L5.63259 3.41573C5.47859 4.18473 4.80259 4.73973 4.01759 4.73973"
                                        stroke="#FD371F" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                              </a>
                        </div>
                    </div>

                    
                </td>

                </tr>
                <div class="modal  fade" id="staticBackdrop{{user.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete User</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Are you sure to delete?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a href="{% url 'main:delete_user' id=user.id %}"><button type="button" class="btn btn-danger">Yes</button></a>
                      </div>
                    </div>
                  </div>
                </div>
                
                {% endfor %}
              </table>                     
            </div>
          </div>
        </div>
      </div>

    

    </div>

   

  </div>



</section>





{% include 'layouts/footer.html' %}
